<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomerController</servlet-name>
        <servlet-class>controller.ManageCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductController</servlet-name>
        <servlet-class>controller.ManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBillController</servlet-name>
        <servlet-class>controller.ManageBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProduct</servlet-name>
        <servlet-class>controller.DetailProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopAllController</servlet-name>
        <servlet-class>controller.ShopAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoControl</servlet-name>
        <servlet-class>controller.ChangeInfoControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeInfoControl</servlet-name>
        <url-pattern>/changeinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProduct</servlet-name>
        <url-pattern>/detailproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopAllController</servlet-name>
        <url-pattern>/shopall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCustomerController</servlet-name>
        <url-pattern>/manageCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductController</servlet-name>
        <url-pattern>/manageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBillController</servlet-name>
        <url-pattern>/manageBill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
